@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Capstone.Models
@using EntityLayer.Concrete
@model EntityLayer.Concrete.StudentV2
@{
    ViewData["Title"] = "AddStudent";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h1>Add Student</h1>

<form method="post"> 
    <label>Student Name</label>
    <input type="text" asp-for="StudentName" class="form-control" />
    <span asp-validation-for="StudentName" class="text-danger"></span>
    <br />

    <label>Parent Name</label>
    <input type="text" asp-for="ParentName" class="form-control" />
    <span asp-validation-for="ParentName" class="text-danger"></span>
    <br />

    <label>Phone Number</label>
    <input type="text" asp-for="ParentPhoneNumber" class="form-control" />
    <span asp-validation-for="ParentPhoneNumber" class="text-danger"></span>
    <br />

      <label>IsActive (1 or 0) </label>
    <input type="text" asp-for="IsActive" class="form-control" />
    @*<span asp-validation-for="IsActive" class="text-danger"></span>*@
    <br />
    <label>Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <div class="text-danger" asp-validation-summary="ModelOnly">
                                        </div>
    <button class="btn btn-outline-dark">Add New Student</button>
</form>